@use "../../global/" as *;

.c-descriptionList {
  font-size: rem(15);
}

.c-descriptionList__item {
  padding-block: rem(20);
  border-bottom: 1px solid var(--gray-color-2);

  @include mq(md) {
    display: flex;
    align-items: center;
    padding-block: rem(30);
  }

  dt {
    font-weight: 700;

    @include mq(md) {
      width: 20%;
    }
  }

  dd {
    margin-block: rem(5);

    @include mq(md) {
      flex: 1;
    }
  }
}
