@use "../../global/" as *;
@use "../../global/" as *;

.c-inputField {
  width: 100%;
  padding: em(6) em(8);
  border: 1px solid var(--gray-color-3);
  border-radius: 5px;
  background-color: var(--base-color);
  font-size: 1rem;
  line-height: 1.75;
}

textarea.c-inputField {
  min-height: 200px;
}

select.c-inputField {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 6"><path d="M10.5,15l6,6,6-6Z" transform="translate(-10.5 -15)" fill="%23333" /></svg>');
  background-repeat: no-repeat;
  background-position: right 0.5em center;
  background-size: 12px 6px;
}
