extends ../layout/_main

block append config
  -
    const isTop = true;
    const page = {
      title: SITE_NAME,
      description: `PON DESIGNは、新規サイト制作や運用、アプリ開発に強いWeb制作会社です。サイト作りはお客様の夢を叶えること。だからこそ成果を出すサイトを全力でお作りします。`,
    };

block mainContent
