extends ../layout/_main

block append config
  -
    const page = {
      title: '採用情報',
      titleEn: 'Recruit',
      description: '成果を出すサイトを全力で作るWeb制作会社PON DESIGNの採用情報です。私たちが制作において大切にしている価値観、募集職種、社内の様子について紹介します。'
    };

//- Mixin
include ../mixin/_breadcrumb
include ../mixin/_hero


block mainContent
  +hero(page.titleEn, page.title)
  +breadcrumb(page.titleEn)
  //- recruit
  .p-recruitWrapper
    .p-recruit
      .l-container
        p.p-recruit__copy
          strong
            span(lang="en") Enjoy Creation for Client
            span 楽しむ心が良いモノを生む
        p.p-recruit__text
          | 心を弾ましながら<br aria-hidden="true">夢いっぱいのサイトを作ろう！<br aria-hidden="true">お客様も自分もみんなが幸せになれるように
      figure.p-recruit__imgWrapper
        img(src=`${imgPath}recruit/recruit_hero.jpg`, alt="" srcset=`${imgPath}recruit/recruit_hero.jpg 1x, ${imgPath}recruit/recruit_hero@2x.jpg 2x`)
    section.p-section
      .l-container
        h2.c-title.-secondary 募集中の職種
        .p-recruitBox
          h3.p-recruitBox__title Webデザイナー
          dl.c-descriptionList.p-recruitBox__list
            .c-descriptionList__item
              dt 雇用形態
              dd 正社員
            .c-descriptionList__item
              dt 給与
              dd 400万円〜600万円（経験・能力を考慮のうえ優遇）
            .c-descriptionList__item
              dt 仕事内容
              dd Webサイトの制作。サイトのデザインとコーディングを担当していただきます。
            .c-descriptionList__item
              dt 勤務時間
              dd 10:00 〜 19:00（実働8時間、休憩1時間）
            .c-descriptionList__item
              dt 応募資格
              dd
                | PhotoshopやXDなどのデザインツールの使い方を理解し、コーディングの基礎スキルがある方。実務未経験でも学校や独学で学習した方を歓迎します。
                ul
                  li デザインやコーディングを楽しめる方
                  li 常にアンテナを張って積極的にトレンドや最新の技術を取り入れる方
                  li お客様と一緒に楽しみながら高い目標を目指せる方
          div(class="u-text-center u-mt-6 md:u-mt-10")
            +primaryButton('#', '-primary', '応募する')
            p.u-text-xs.u-mt-1 求人サイトへ遷移します
    section.p-section
      .l-container
        h2.c-title.-secondary 社内ムービー
        div(class="p-embed -movie u-mt-6 md:u-mt-8")
          .
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/DzmkvSCNAbM?si=mbZzXjlTITCkMoDz" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
