@use "../global/" as *;

.l-container {
  width: 92%;
  max-width: calc(var(--md-content-width) * 1px);
  margin-inline: auto;

  &.-sm {
    max-width: calc(var(--sm-content-width) * 1px);
  }

  &.-lg {
    max-width: calc(var(--lg-content-width) * 1px);
  }
}
