@use "../../global/" as *;

.p-globalNav {
  @include mq(md, $not: true) {
    display: grid;
    place-items: center;
    visibility: hidden;
    position: fixed;
    inset: 0;
    z-index: -1;
    transform: scale(0.95);
    transition-property: transform, opacity, visibility;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    will-change: transform;
    opacity: 0;
    background: linear-gradient(135deg, var(--gradient-color));
  }
}

.p-globalNav__list {
  display: flex;
  flex-direction: column;
  gap: rem(20);
  width: 100%;
  padding-inline: 5%;

  @include mq(md) {
    flex-direction: row;
    gap: rem(25);
    width: auto;
    padding-inline: 0;
  }
}

.p-globalNav__link {
  display: block;
  position: relative;
  color: var(--base-color);
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;

  @include mq(md) {
    font-size: rem(14);
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    transform: scaleX(0);
    transform-origin: right bottom;
    transition: transform 0.3s var(--easing);
    background-color: currentcolor;
    inset: auto 0 -4px;
  }

  @include hover {
    &::after {
      transform: scaleX(1);
      transform-origin: left bottom;
    }
  }
}

// DrawerActive
// -------------------------
.is-drawerActive {
  .p-globalNav {
    visibility: visible;
    z-index: var(--z-index-global-nav);
    transform: scale(1);
    opacity: 1;
  }
}
