@use "../../global/" as *;

.p-header {
  position: fixed;
  z-index: var(--z-index-header);
  top: 0;
  width: 100%;
  transition: background 0.3s linear;
  background-color: transparent;
}

.p-header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: rem(12) 15px;
  transition: padding 0.3s var(--easing);

  @include mq(md) {
    padding: rem(30) min(calc(30 / var(--pc-comp-width) * 100%), 30px);
  }
}

.p-header__title {
  line-height: 1;
}

.p-header__logo {
  display: block;

  svg {
    width: fluid(120, 160, var(--sp-comp-width), var(--pc-comp-width));
    height: fluid(13, 17, var(--sp-comp-width), var(--pc-comp-width));
  }
}

// is-scrolled
// -------------------------
.p-header.is-scrolled {
  background-color: var(--main-color-dark);

  @include mq(md) {
    .p-header__inner {
      padding-block: rem(20);
    }
  }
}
