@use "../../global/" as *;

.p-indexNews {
  max-width: 850px;

  @include mq(md) {
    display: flex;
    column-gap: calc(50 / 850 * 100%);
  }
}

.p-indexNews__header {
  .c-title {
    @include mq(md) {
      text-align: left;
    }
  }
}
