@use "../../global/" as *;

.p-indexSection {
  position: relative;
  padding-block: fluid(40, 70, var(--sp-comp-width), var(--pc-comp-width));
}

.p-indexSection__button {
  margin-top: rem(30);
  text-align: center;
}
