@use "../../global/" as *;

.p-post {
  max-width: 720px;
  margin-inline: auto;
}

.p-post__title {
  font-size: rem(22);
  line-height: 1.5;

  @include mq(md) {
    font-size: rem(32);
  }
}

.p-post__meta {
  display: flex;
  align-items: center;
  margin-top: rem(10);
  column-gap: rem(10);
}

.p-post__date {
  font-size: rem(13);
}

.p-post__label {
  display: inline-block;
  min-width: 80px;
  padding: rem(2) rem(8);
  border-radius: 20px;
  background-color: var(--gray-color-1);
  font-size: rem(12);
  font-weight: 700;
  text-align: center;
}

.p-post__imgWrapper {
  width: 100%;
  margin-top: rem(30);
  overflow: hidden;
  aspect-ratio: 345/184;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
  }
}

.p-post__body {
  padding-top: rem(30);

  h2 {
    position: relative;
    margin-block: rem(40) rem(20);
    padding-left: 20px;
    font-size: rem(18);
    font-weight: 700;
    line-height: 1.6;

    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 6px;
      border-radius: 3px;
      background-color: var(--main-color);
      inset: 0 auto 0 0;
    }
  }

  h3 {
    margin-block: rem(40) rem(20);
    font-size: rem(17);
    font-weight: 700;

    @include mq(md) {
      font-size: rem(18);
    }
  }

  p:not(:first-child) {
    margin-top: rem(20);
    font-size: rem(15);
  }
}

.p-post__share {
  margin-top: rem(40);
}

.p-post__shareList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.p-post__nav {
  margin-top: rem(40);
  border-block: 1px solid #b8aed5;

  li:first-child {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      inset: 15px 0 15px auto;
      width: 1px;
      background-color: #b8aed5;
    }
  }

  a {
    flex: 1;
    padding: rem(25) rem(20);
    transition: background 0.3s var(--easing);
    color: var(--main-color);
    font-size: rem(12);

    @include mq(md) {
      font-size: rem(14);
    }
  }
}

.p-post__backToIndex {
  margin-top: rem(20);
  text-align: center;

  a {
    color: var(--main-color);
    text-transform: uppercase;
  }
}
