@use "../../global/" as *;

.p-recruitBox {
  margin-top: rem(30);
  padding: rem(30) rem(20);
  border: 1px solid #b067cf;
  border-radius: 6px;
  background-color: var(--base-color);

  @include mq(md) {
    padding: rem(60) rem(40);
  }
}

.p-recruitBox__title {
  margin-bottom: rem(20);
  font-size: rem(20);
  font-weight: 700;
  text-align: center;

  @include mq(md) {
    margin-bottom: rem(30);
    font-size: rem(24);
  }
}

.p-recruitBox__list {
  max-width: 920px;
  margin-inline: auto;

  ul {
    margin-top: rem(10);
    padding-left: rem(20);
    list-style: disc;
  }
}
