@use "../../global/" as *;

.p-section {
  position: relative;
  padding-block: fluid(40, 70, var(--sp-comp-width), var(--pc-comp-width));

  &.-works {
    padding-bottom: 0;

    @include mq(md) {
      padding-bottom: rem(40);
    }
  }

  &.-recruit {
    @include mq(md, $not: true) {
      padding-block: 0;
    }
  }
}

.p-section__button {
  margin-top: rem(30);
  text-align: center;
}
