section.p-contact
  .l-container
    +primaryTitle('Contact', 'お問い合わせ')
    p.u-text-center Webサイトの制作のご依頼やお見積りなど、<br aria-hidden="true">お気軽にご相談ください。
    .u-text-center.u-mt-4
      +primaryButton('/contact')
