footer.l-site__footer.p-footer
  button(type="button").p-footer__toTopButton#js-toTopButton
    i(class="fa-solid fa-arrow-up")
  .p-footer__nav
    ul.p-footer__navList
      each val, index in navigation
        li.p-footer__navItem: a(href=`/${val}/`).p-footer__navLink=val

  p.p-footer__copyright: small(lang="en") &copy; Pon design
