header.l-site__header.p-header#js-header
  a(href="#main").u-visuallyHidden.p-skipLink メインコンテンツにスキップ
  .p-header__inner
    h1.p-header__title
      a.p-header__logo(href="/")
        svg(aria-hidden="true")
          title= SITE_NAME
          use(href="#logo")
    nav.p-header__nav
      h2.u-visuallyHidden サイト内メニュー
      button(type="button" aria-expanded="false" aria-controls="drawer").p-hamburger#js-menuButton
        span.u-visuallyHidden メニュー
      .p-globalNav#drawer
        ul.p-globalNav__list
          each val, index in navigation
            if index !== 0
              li.p-globalNav__item
                a(href=`/${val}`).p-globalNav__link.u-hover-under=val
