header.l-site__header.p-header
  .p-header__inner
    h1.p-header__title
      a.p-header__logo(href="/")
        svg(aria-hidden="true")
          use(href="#logo")
    nav.p-header__nav
      ul.p-header__navList
        li: a(href="/") Home
        li: a(href="/about") About
